#logoimg {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}




h1{
  text-align: center;
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;
  margin-top: -175px;
}
#cartDiv{
    width: 20%;
    float: right;
    margin-right: -11rem;
    margin-top: 0.9em;
}


#menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #c9c2c2;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #381616;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #b30e0e;
 }
 

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #313030;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }



/* ---------------------------------------- */



#logoimg {
    /* background-color: white; */
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
#logoDiv{
    margin-left: 15rem ;
 width: 150px;
 height: 200px;
 /* border-radius: 5%; */
 background: rgb(45,238,253);
background: -moz-linear-gradient(0deg, rgba(45,238,253,0.4405112386751575) 0%, rgba(62,98,119,1) 74%);
background: -webkit-linear-gradient(0deg, rgba(45,238,253,0.4405112386751575) 0%, rgba(62,98,119,1) 74%);
background: linear-gradient(0deg, rgba(45,238,253,0.4405112386751575) 0%, rgba(62,98,119,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2DEEFD",endColorstr="#3E6277",GradientType=1);

 -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  


header {
    position: relative;
    background: rgb(245,245,245);
background: -moz-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
background: -webkit-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
background: radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5F5F5",endColorstr="#12788B",GradientType=1);
    /* background-image: url(https://www.darksky.org/wp-content/uploads/2021/04/MEVE-Point-Lookout-JacobWFrank-feat.jpg); */
    width: 100%;
    height: 100px;
  }
  
  
  main div table tr td img {
      height: 150px;
      width: 100px;
      margin-top: 50px;
  }
/* footer ------------------------------------ */



#foter {
  height: 6rem;
  width: 100%;
  background: rgb(245,245,245);
  background: -moz-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
  background: -webkit-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
  background: radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5F5F5",endColorstr="#12788B",GradientType=1);
}
/* .copyright-text a {
  margin-left: 40px;
} */

#logofoot {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: -55px;
}


.copyright-text{
  text-decoration: none;
  /* text-align: center; */
  /* margin-top: 30px; */
  margin-left: 20px;
  padding-top: 40px;
  font-size: 20px;
 font-family: 'Caveat', cursive; ;
}

.social-icons
  {
    margin-top: -55px;
    float: right;
    /* padding-left:0; */
    list-style:none
  }
  .social-icons img {
    width:44px;
    height:44px;
  }
  .social-icons li
  {
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    display:inline-block;
    /* margin-bottom:4px */
  }
  .social-icons li.title
  {
    margin-right:15px;
    /* text-transform:uppercase; */
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    /* line-height:44px; */
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all 1s linear;
    -o-transition:all 1s linear;
    transition:all 1s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  /* .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  } */
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
  }

/* table, th, td , tr{
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
  } */

  .qunt {
      width: 40px;
  }

  h2 {
    text-align: center;
    font-size: 50px;
    padding: 100px;
    color: white;
  }

  #section {
    margin: 0 auto;
    margin-top: 150px;
    width: 500px;
  }

  #tableCart td {
	  font-weight: normal;
	  font-size: 1.2em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
          text-align: center; 
          vertical-align: middle;
      }
  

  #tableCart {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0
  }

  #tableCart td, #tableCart th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

#tableCart tr:nth-child(odd) {
  background-color: #323C50;
}

#tableCart tr:nth-child(even) {
  background-color: #2C3446;
}

#tableCart th {
  background-color: #1F2739;
  color:white;
}

#tableCart td:first-child { color: #FB667A; }


#tableCart tr:hover {
  background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
         box-shadow: 0 6px 6px -6px #0E1119;
}

#tableCart td:hover {
  background-color: #2CA1B1;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #dbdbdb -1px 1px, #dbdbdb -2px 2px, #dbdbdb -3px 3px, #dbdbdb -4px 4px, #dbdbdb -5px 5px, #dbdbdb -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}
#tableCart th:hover {
  background-color: #2CA1B1;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #dbdbdb -1px 1px, #dbdbdb -2px 2px, #dbdbdb -3px 3px, #dbdbdb -4px 4px, #dbdbdb -5px 5px, #dbdbdb -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  #tableCart td:nth-child(4),
  #tableCart th:nth-child(4) { display: none; }
  }

  main {
    margin-bottom: 50px;
  }

  body {
    background: rgb(203,214,242);
    background: -moz-linear-gradient(90deg, rgba(203,214,242,1) 0%, rgba(86,166,180,1) 48%, rgba(214,214,214,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(203,214,242,1) 0%, rgba(86,166,180,1) 48%, rgba(214,214,214,1) 100%);
    background: linear-gradient(90deg, rgba(203,214,242,1) 0%, rgba(86,166,180,1) 48%, rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbd6f2",endColorstr="#d6d6d6",GradientType=1);
  }