@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* :root {
    background-color: rgb(29, 26, 26)
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

h2 {
    font-size: 5.4rem;
    color: rgb(151, 30, 30);
    margin-bottom: 5rem;
}

p{
    font-size: 25px;
    color: rgb(29, 38, 48);
}

h3 {
    font-size: 4.2rem;
    margin-bottom: 4rem;

}
h1{
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
    margin-top: -175px;
    color: black;
}
header {
    position: relative;
    background: rgb(245,245,245);
background: -moz-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
background: -webkit-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
background: radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5F5F5",endColorstr="#12788B",GradientType=1);
    /* background-image: url(https://www.darksky.org/wp-content/uploads/2021/04/MEVE-Point-Lookout-JacobWFrank-feat.jpg); */
    width: 100%;
    height: 100px;
    margin-bottom: 6rem;
}
/* ------------------------------------------------ */
#logoimg {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
#logoDiv{
    margin-left: 15rem ;
 width: 150px;
 height: 200px;
 background: rgb(45,238,253);
background: -moz-linear-gradient(0deg, rgba(45,238,253,0.4405112386751575) 0%, rgba(62,98,119,1) 74%);
background: -webkit-linear-gradient(0deg, rgba(45,238,253,0.4405112386751575) 0%, rgba(62,98,119,1) 74%);
background: linear-gradient(0deg, rgba(45,238,253,0.4405112386751575) 0%, rgba(62,98,119,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2DEEFD",endColorstr="#3E6277",GradientType=1);

 -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 80rem;
    margin: 0 auto;
    /* padding: 2rem; */
}
.imageshow{
    margin-top: 50px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(46, 47, 49) 0%, rgb(42, 59, 83) 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
body{
    background: rgb(101,182,201);
background: radial-gradient(circle, rgba(101,182,201,1) 10%, rgba(109,113,119,1) 95%);}
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}

#foter {
  padding-bottom: 100px;
  margin-top: 100px;
    height: 7rem;
    width: 100%;
    background: rgb(245,245,245);
    background: -moz-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
    background: -webkit-radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
    background: radial-gradient(circle, rgba(245,245,245,1) 12%, rgba(245,245,245,1) 19%, rgba(18,120,139,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F5F5F5",endColorstr="#12788B",GradientType=1);
  }
  /* .copyright-text a {
    margin-left: 40px;
  } */
  
  #logofoot {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50px;
      margin-top: -55px;
  }
  
  
  .copyright-text{
    text-decoration: none;
    /* text-align: center; */
    /* margin-top: 30px; */
    margin-left: 20px;
    padding-top: 40px;
    font-size: 20px;
   font-family: 'Caveat', cursive; ;
  }
  
  .social-icons
    {
      margin-top: -55px;
      float: right;
      /* padding-left:0; */
      list-style:none
    }
    .social-icons img {
      width:44px;
      height:44px;
    }
    .social-icons li
    {
      /* margin-left: 25px; */
      /* margin-right: 25px; */
      display:inline-block;
      /* margin-bottom:4px */
    }
    .social-icons li.title
    {
      margin-right:15px;
      /* text-transform:uppercase; */
      color:#96a2b2;
      font-weight:700;
      font-size:13px
    }
    .social-icons a{
      background-color:#eceeef;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      /* line-height:44px; */
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all 1s linear;
      -o-transition:all 1s linear;
      transition:all 1s linear
    }
    .social-icons a:active,.social-icons a:focus,.social-icons a:hover
    {
      color:#fff;
      background-color:#29aafe
    }
    /* .social-icons.size-sm a
    {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px
    } */
    .social-icons a.facebook:hover
    {
      background-color:#3b5998
    }
    .social-icons a.twitter:hover
    {
      background-color:#00aced
    }
    .social-icons a.linkedin:hover
    {
      background-color:#007bb6
    }
    .social-icons a.dribbble:hover
    {
      background-color:#ea4c89
    }
    @media (max-width:767px)
    {
    }
    
  /* footer p {
      color: black;
 
      font-size: 20px;
      font-family: cursive;
      text-align: center;
      font-weight: 700;
      margin-top: -50px;
  } */
  
    #imageid:hover{
        transform:scale(0.5);
        /* transform:skewX(30deg); */
      
    }
    #audiobox{
        display: none;
    }
