body{
    color:rgb(22, 24, 24);
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: aqua;
    font-size: 20px;
    min-width: 80rem;

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(144, 240, 240);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: white;

}
.choice-text{
    padding: 2rem;
    width: 100%;

}

.correct {
    background: linear-gradient(32deg,green, 100%);
}


.incorrect {
    background: linear-gradient(red);
}


@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
    
}


/* head style  */

/* #hud{
    display: flex;
    justify-content: space-between;

}

.hud-prefix {
    text-align: center;
    font-size: 32px;
}

.hud-main-text{
    text-align: center;

} */

/* #progresBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223.,36) ;
}


#progresBarFull {
    height: 100%;
    background: chartreuse;
    width: 0%;
} */